$font-family: 'Open Sans', sans-serif;
$font-base: .8em/1.5 $font-family;

$font-size-s: .85rem;
$font-size-m: 1rem;
$font-size-l: 1.15rem;
$font-size-x: 1.3rem;
$font-size-xx: 1.6rem;
$font-size-xxx: 1.9rem;

$base-icon-size: 16px;

$header-size: 48px;
$header-icon-size: $base-icon-size;
$action-size: 48px;
$action-icon-size: $base-icon-size;
$filter-size: 40px;
$filter-icon-size: $base-icon-size;

$padding-size-s: 8px;
$padding-size-m: 16px;

$border-radius: 5px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-big-stone: #13283d;
$color-san-juan: #2c4b6a;
$color-matisse: #2c5389; // todo: color name is really 'st tropaz'
$color-malibu: #83c1ff;
$color-shingle-fawn: #6a532c;
$color-marigold: #b68127;
$color-flamenco: #ff800a;
$color-forest-green: #429325;
$color-apple: #53B82F;
$color-apple-hover: #4EAC2C;
$color-olive-drab: #638D1D;
$color-mine-shaft: #333333;
$color-dove-gray: #666666;
$color-dusty-gray: #999999;
$color-silver-chalice: #b2b2b2;
$color-silver: #cccccc;
$color-gallery: #eeeeee;
$color-wild-sand: #f6f6f6;
$color-firebrick: #cb3330;
$color-regal-blue: #00548B; // todo: color name is orient
$color-black-squeeze: #EDF3F8;
$color-azure: #336699;
$color-bali-hai: #8599AD;
$color-link-water: #E2EDF7;

// jamie comp colors
$color-alto: #DDDDDD;
$color-concrete: #F2F2F2;
$color-catskill-white: #DEE9F0; //E6EEF2
$color-pigeon-post: #A4C2D5;
$color-botticelli: #CADCE6; //D1DCE7
$color-hippie-blue: #4180A9;
//$color-steel-blue: #4180A9;
$color-java: #20B2BF;
$color-glacier: #86AEC8;
$color-cape-honey: #FDEBA7;
$color-seagull: #7BC1EB;
$blue-dianne: #243D4E;

// social media colors
$color-linkedin: #007BB6;
$color-facebook: #3B5998;
$color-twitter: #00ACED;
$color-google-plus: #DD4A38;

// task colors
$color-guardsman-red: #CC0000;
$color-ecstasy: #F57120;
$color-japanese-laurel: #009900;

//bbccdd
//