@import "variables";
@import "mixins";

* {
    @include box-sizing(border-box);
    outline: none;

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    height: 100%;
}

html {
    font: $font-base;
    color: $color-black;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ryver-view {
    &-header {
        height: $header-size;
        line-height: $header-size;
        width: 100%;
        background-color: $color-regal-blue;
        color: $color-white;
        font-size: 1.3rem;
        padding: 0 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-body {
        background-color: $color-catskill-white;
        height: calc(100% - 40px);
    }
}

.participant-list {
    &__item {
        @include flexbox;
        border-bottom: 1px solid $color-alto;
        padding: $padding-size-s;
        background-color: $color-white;

        &-avatar {
            @include round-avatar(medium);
        }

        &-content {
            @include flex(1, 0);
            @include align-self(center);
            padding: 0 $padding-size-s;
        }
    }
}