@import "variables";

ul {
    padding: 0;
    margin: 0;
}

.ryver-view {
    &-header {
        height: 40px;
        width: 100%;
        background-color: $color-regal-blue;
    }

    &-body {
        background-color: $color-catskill-white;
        height: calc(100% - 40px);
    }
}